<div class="container caps">
    <h1 id="title"><a routerLink="/">Media Server</a></h1>

    

    

    <a href="javascript:void(0);" class="icon" id="menu">
        <i class="fa fa-bars"></i>
    </a>

    <form id="search">
            <input type="text"/>
            <a href="javascript:void(0);" class="icon">
                    <i class="fa fa-search"></i>
                </a>
        </form>
        
    <nav id="nav">
        <a routerLink="/movies">Movies</a>
        <a routerLink="/shows">Shows</a>
    </nav>

</div>
