<div class="container caps">
    <h1 id="title"><a routerLink="/">Media Server</a></h1>

    

    <nav id="nav">
        <a routerLink="/movies">Movies</a>
        <a routerLink="/shows">Shows</a>
        <a routerLink="/books">Books</a>
        <a href="javascript:void(0);" class="icon" id="menu">
        <i class="fa fa-bars"></i>
        </a>
    </nav>



    <form id="search">
        <input type="text"/>
        <button><i class="fa fa-search"></i></button>
    </form>
        
    

</div>
