
<div *ngIf="show">
<h2 class="container">{{ show.title }} ({{ show.releaseYear}})</h2>

<h3 class="container" *ngIf="currentEpisode">Episode: {{ currentEpisode.episodeNo }} - {{ currentEpisode.name }}</h3>

<div class="container" *ngIf="currentEpisode">
    <video [src]=currentEpisode.filePath controls>
        Your Browser does not support the video tag
    </video>
</div>


<app-season *ngFor="let season of show.seasons" [season]="season" (selectEvent)="selectEpisode($event)"></app-season>
</div>