.episodeBtn {
    border: 1px solid gray;
    padding: 1em;
    width: 5em;
    margin: 0.5em;
    background-color: lightgray;
}

.episodeBtn:hover {
    background-color: white;
    border: 1px solid gray;
}

h3 {
    margin: 0px;
}
