body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: lightgray;
}

.container {
    width: 100%;
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    /*border: 1px gray solid;*/
    box-shadow: 5px 0.1px 5px 0.1px #aaa;
    box-sizing: border-box;
}

.caps {
    font-variant: small-caps;
 }


