.result {
    background-color: white;
    list-style: none;
    padding: 0px;
    margin:0px;
    border: solid lightgray;
    border-width: 0px 1px 0px 1px;
    li {
        padding:5px;
    }
    li:hover{
        background-color: lightgray;
    }
}
input {
    border-radius: 0px;
    border: 1px lightgray solid;
    padding: 5px;
}
button {
    border: 1px lightgray solid;
    border-left: none;
    padding: 5px 20px 5px 20px;
}
a {
    color:black;
    text-decoration: none;
}
a:visited {
    color:black;
}