<div *ngIf="movie">
    <h2 class="container caps">{{ movie.title }} ({{ movie.releaseYear }})</h2>
    
    <div class="container">
    <video controls>
        <source src="{{ movie.filePath }}" type="video/mp4">
    </video>
    </div>
    <div class="container">
        <p><span class="caps">Year:</span> {{ movie.releaseYear }}</p>
        <p><span class="caps">Description:</span> {{ movie.description }}</p>
        <p><span class="caps">Tags:</span>
            <a class="tag" *ngFor="let tag of movie.tags"> {{ tag }} </a></p>
    </div>
</div>